transformers>=4.56
datasets
accelerate
peft
huggingface-hub>=0.36
numpy==2.0.2
pandas
scipy==1.13.1
scikit-learn==1.6.1
tqdm
networkx
openpyxl==3.1.5
pyarrow
packaging==25.0
pillow==11.3.0
safetensors==0.7.0
tokenizers==0.22.1

